

{{ if eq .RelPermalink "/download86486987/" }}
<a href="/download86486987/wall-art/" class="btn btn-template-main bottom-margin">free printable Wall Art</a>
<a href="/download86486987/planners/" class="btn btn-template-main bottom-margin">free printable Planners</a>

{{ else if eq .RelPermalink "/download86486987/" }}
<a href="/download86486987/wall-art/" class="btn btn-template-main bottom-margin">free printable Wall Art</a>
<a href="/download86486987/planners/" class="btn btn-template-main bottom-margin">free printable Planners</a>

{{ else if eq .RelPermalink "/download86486987/wall-art/" }}
<a href="/download86486987/wall-art/" class="btn btn-template-main bottom-margin active bottom-margin">All free printable wall art</a>
<a href="/download86486987/wall-art/boho/" class="btn btn-template-main bottom-margin bottom-margin">Boho</a>
<a href="/download86486987/wall-art/botanical/" class="btn btn-template-main bottom-margin bottom-margin">Botanical</a>


{{ else if eq .RelPermalink "/download86486987/wall-art/boho/" }}
<a href="/download86486987/wall-art/" class="btn btn-template-main bottom-margin">All free printable wall art</a>
<a href="/download86486987/wall-art/boho/" class="btn btn-template-main bottom-margin active">Boho</a>
<a href="/download86486987/wall-art/botanical/" class="btn btn-template-main bottom-margin">Botanical</a>



{{ else if eq .RelPermalink "/download86486987/wall-art/botanical/" }}
<a href="/download86486987/wall-art/" class="btn btn-template-main bottom-margin">All free printable wall art</a>
<a href="/download86486987/wall-art/boho/" class="btn btn-template-main bottom-margin">Boho</a>
<a href="/download86486987/wall-art/botanical/" class="btn btn-template-main bottom-margin active">Botanical</a>

{{ else if eq .RelPermalink "/download86486987/planners/" }}
<a href="/download86486987/planners/" class="btn btn-template-main bottom-margin active">All free printable Planners</a>
<a href="/download86486987/planners/daily/" class="btn btn-template-main bottom-margin">Daily</a>

{{ else if eq .RelPermalink "/download86486987/planners/daily/" }}
<a href="/download86486987/planners/" class="btn btn-template-main bottom-margin">All free printable Planners</a>
<a href="/download86486987/planners/daily/" class="btn btn-template-main bottom-margin active">Daily</a>




{{ end }}
