<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
   {{ partial "head.html" . }}
   <body>
      <div id="all">
         {{ partial "nav.html" . }}
         {{ partial "breadcrumbs.html" . }}
         <div id="content">
            <div class="container">
               <div class="row">
                  <!-- *** LEFT COLUMN *** -->
                  <div class="col-md-9" id="blog-post">

       
                  {{ .Content }}
                  </div>
                  <!-- /#blog-post -->
                  <!-- *** LEFT COLUMN END *** -->
                  <!-- *** RIGHT COLUMN *** -->
                  <div class="col-md-3">
                     <!-- *** MENUS AND WIDGETS *** -->
                     <!-- *** MENUS AND FILTERS END *** -->
                  </div>
                  <!-- /.col-md-3 -->
                  <!-- *** RIGHT COLUMN END *** -->
               </div>
               <!-- /.row -->
            </div>
            <!-- /.container -->
            {{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
   <div class="home-carousel">
      <div class="dark-mask"></div>
      <div class="container">
         <div class="homepage owl-carousel"
            data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
            data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
            data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
            {{ range sort .Site.Data.carousel "weight" }}
            <div class="item">
               <div class="row">
                  <div class="col-sm-5 right">
                     <h2>{{ .title }}</h2>
                     {{ .description | safeHTML }}
                  </div>
                  <div class="col-sm-7">
                    
                     <picture>
                        <source type="image/webp" data-srcset="../../{{ .image }}.webp">
                        <img data-src="../../{{ .image }}.png" class="{{ .class }}" alt="{{ .alt }}" />
                     </picture>
                  </div>
               </div>
            </div>
            {{ end }}
         </div>
         <!-- /.project owl-slider -->
      </div>
   </div>
</section>
{{ end }}
{{ end }}
            {{ partial "testimonials.html" . }}
         </div>
         <!-- /#content -->
         {{ partial "footer.html" . }}
      </div>
      <!-- /#all -->
      {{ partial "scripts.html" . }}
   </body>
</html>


