<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
   {{ partial "head.html" . }}
   <body>
      <div id="all">
      {{ partial "nav.html" . }}
      {{ partial "breadcrumbs.html" . }}
      <div id="content">
         <div class="container">
            <div class="row">
               <!-- *** LEFT COLUMN *** -->
               <div class="col-md-9" id="blog-listing-medium">
                 
                 <div id="mobile-menu">
                    {{ partial "product/product-sidebar.html" . }}
                 </div>
                 
                  {{ .Content }}

                  {{ if eq .RelPermalink "/printable/" }}
                     {{ $paginator := .Paginate (where .Site.Pages "Type" "printable") }}
                     {{ range $paginator.Pages }}
                       
                              {{ partial "product/product-row.html" . }}
                                 
                     {{ end }}

                  


                  {{ else if eq .RelPermalink "/printable/planners/" }}
                     {{ $paginator := .Paginate (where .Site.Pages "Type" "printable") }}
                     {{ range $paginator.Pages }}
                        {{ if eq .Params.productGroup "planners" }}
                              {{ partial "product/product-row.html" . }}
                        {{ end }}           
                     {{ end }}


                     {{ else if eq .RelPermalink "/printable/planners/daily/" }}
                     {{ $paginator := .Paginate (where .Site.Pages "Type" "printable") }}
                     {{ range $paginator.Pages }}
                        {{ if eq .Params.productType "daily" }}
                              {{ partial "product/product-row.html" . }}
                        {{ end }}           
                     {{ end }}


                     {{ else if eq .RelPermalink "/printable/wall-art/" }}
                     {{ $paginator := .Paginate (where .Site.Pages "Type" "printable") }}
                     {{ range $paginator.Pages }}
                        {{ if eq .Params.productGroup "wall art" }}
                              {{ partial "product/product-row.html" . }}
                        {{ end }}           
                     {{ end }}


                  {{ else if eq .RelPermalink "/printable/wall-art/boho/" }}
                     {{ $paginator := .Paginate (where .Site.Pages "Type" "printable") }}
                     {{ range $paginator.Pages }}
                        {{ if eq .Params.productType "boho" }}
                              {{ partial "product/product-row.html" . }}
                        {{ end }}           
                     {{ end }}



                  {{ else if eq .RelPermalink "/printable/wall-art/botanical/" }}
                     {{ $paginator := .Paginate (where .Site.Pages "Type" "printable") }}
                     {{ range $paginator.Pages }}
                        {{ if eq .Params.productType "botanical" }}
                              {{ partial "product/product-row.html" . }}
                        {{ end }}                
                  {{ end }}   


                  {{ else if eq .RelPermalink "/printable/wall-art/modern/" }}
                     {{ $paginator := .Paginate (where .Site.Pages "Type" "printable") }}
                     {{ range $paginator.Pages }}
                        {{ if eq .Params.productType "modern" }}
                              {{ partial "product/product-row.html" . }}
                        {{ end }}                
                  {{ end }} 



                  {{ else if eq .RelPermalink "/printable/wall-art/watercolor/" }}
                     {{ $paginator := .Paginate (where .Site.Pages "Type" "printable") }}
                     {{ range $paginator.Pages }}
                        {{ if eq .Params.productType "watercolor" }}
                              {{ partial "product/product-row.html" . }}
                        {{ end }}                
                  {{ end }} 

 
                     
                  {{ end }}

                  <ul class="pager">
                  {{ if .Paginator.HasPrev }}
                  <li class="previous"><a href="{{ .Paginator.Prev.URL | relURL }}">&larr; {{ i18n "previous" }}</a></li>
                  {{ else }}
                  <li class="previous disabled"><a href="#">&larr; {{ i18n "previous" }}</a></li>
                  {{ end }}
                  {{ if .Paginator.HasNext }}
                  <li class="next"><a href="{{ .Paginator.Next.URL | relURL }}">{{ i18n "next" }} &rarr;</a></li>
                  {{ else }}
                  <li class="next disabled"><a href="#">{{ i18n "next" }} &rarr;</a></li>
                  {{ end }}
                  </ul>
                  </div>
                  <!-- /.col-md-9 -->
                  <!-- *** LEFT COLUMN END *** -->
                  <!-- *** RIGHT COLUMN ***-->
                  <div class="col-md-3">
                     <!-- *** MENUS AND WIDGETS *** -->
                    {{ partial "product/product-sidebar.html" . }}
                     <!-- *** MENUS AND FILTERS END *** -->
                    
                    
                  </div>
                  <!-- /.col-md-3 -->
                  <!-- *** RIGHT COLUMN END *** -->
               </div>
               <!-- /.row -->
            </div>
            {{ partial "testimonials.html" . }}
            <!-- /.container -->
         </div>
         <!-- /#content -->
         {{ partial "footer.html" . }}
      </div>
      <!-- /#all -->
   
      {{ partial "scripts.html" . }}
   </body>
</html>