<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
   {{ partial "head.html" . }}
   <body>
      <div id="all">
        
         {{ partial "nav.html" . }}
         {{ partial "breadcrumbs.html" . }}
         <div id="content">
            <div class="container">
               <div class="row">
                  <!-- *** LEFT COLUMN *** -->
                  <div class="col-md-9" id="blog-listing-medium">
                     {{ .Content }}
                     <br><br>
                     {{ $paginator := .Paginate (where .Data.Pages "Type" "free printables") }}
                     {{ range $paginator.Pages }}
                     <section class="post">
                            <div class="row free-printables-row">
                                <div class="col-md-4">
                                  <div class="image">
                                      <a href="{{ .Permalink }}" target="_blank">
                                          {{ if .Params.image }}
                                          <img src="{{ .Params.pinterestImage | relURL }}.webp" class="img-responsive" alt="{{ .Params.alt }}">
                                          {{ else }}
                                          <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="">
                                          {{ end }}
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                    <h2><a href="{{ .Permalink }}" target="_blank">{{ .Title }}</a></h2>
                                    <div class="clearfix">
                                        <p class="author-category">
                                          {{ if isset .Params "author" }}
                                          {{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a>
                                          {{ end }}
                                          {{ if isset .Params "categoriesResources" }}
                                          {{ if gt (len .Params.categoriesResources) 0 }}
                                          in 
                                          {{ range $index, $categoryTT := .Params.categoriesResources }}{{ if $index }}, {{ end }}
                                              <a href="{{ "categoriesResources/" | relURL }}{{ . | urlize | lower }}">{{ $categoryTT }}</a>{{ end }}
                                          {{ end }}
                                          {{ end }}

                                        </p>
                                        {{ if isset .Params "date" }}
                                        <p class="date-comments">
                                            <a href="{{ .Permalink }}"><i class="far fa-calendar"></i> {{ .Date.Format .Site.Params.date_format }}</a>
                                        </p>
                                        {{ end }}
                                    </div>
                                    <p class="intro">{{ .Params.description }}</p>

                                    <hr class="prod-box-line">

                                     {{ if .Params.price }}
                           <table class="productStatsTable  ">
                              <tr>
                                 <td>
                                    {{ if .Params.saleOn }}
                                    <span class="productPrice">&euro;{{ .Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Params.downFrom }}</span>
                                    {{ else }}
                                    <span class="productPrice">&euro;{{ .Params.price }}</span>
                                    {{ end }}
                                 </td>
                                 <td>
                                    <p></p>
                                 </td>
                              </tr>
                              <tr>
      <td>
         <p>Download format:</p>
      </td>
      <td>
         <p>{{ .Params.downloadFormat }}</p>
      </td>
   </tr>
                              <tr>
                                 <td>
                                    <p>File format:</p>
                                 </td>
                                 <td>
                                    <p>{{ .Params.fileFormat }}</p>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <p>File DPI:</p>
                                 </td>
                                 <td>
                                    <p>{{ .Params.dpi }}</p>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <p>Printing sizes:</p>
                                 </td>
                                 <td>
                                    <p>{{ .Params.printingSizes }}</p>
                                 </td>
                              </tr>
                           </table>
                           {{ end }}    
                                    <p class="read-more"><a href="{{ .Permalink }}" target="_blank" class="btn btn-template-main">GO TO DOWNLOAD PAGE</a>
                                    </p>
                                </div>
                            </div>
                        </section>
                     {{ end }}
                     <ul class="pager">
                        {{ if .Paginator.HasPrev }}
                        <li class="previous"><a href="{{ .Paginator.Prev.URL | relURL }}">&larr; {{ i18n "previous" }}</a></li>
                        {{ else }}
                        <li class="previous disabled"><a href="#">&larr; {{ i18n "previous" }}</a></li>
                        {{ end }}
                        {{ if .Paginator.HasNext }}
                        <li class="next"><a href="{{ .Paginator.Next.URL | relURL }}">{{ i18n "next" }} &rarr;</a></li>
                        {{ else }}
                        <li class="next disabled"><a href="#">{{ i18n "next" }} &rarr;</a></li>
                        {{ end }}
                     </ul>
                  </div>
                  <!-- /.col-md-9 -->
                  <!-- *** LEFT COLUMN END *** -->
                  <!-- *** RIGHT COLUMN ***
                     _________________________________________________________ -->
                  <div class="col-md-3">
                     <!-- *** MENUS AND WIDGETS *** -->

                     {{ partial "printables-sidebar.html" . }}
                     <!-- *** MENUS AND FILTERS END *** -->
                  </div>
                  <!-- /.col-md-3 -->
                  <!-- *** RIGHT COLUMN END *** -->
               </div>
               <!-- /.row -->
            </div>
            <!-- /.container -->
         </div>
         <!-- /#content -->
         {{ partial "footer.html" . }}
      </div>
      <!-- /#all -->
      {{ partial "scripts.html" . }}
   </body>
</html>