<div class="row">
   <div class="col-md-12">
      <div id="landingPageImageAndStats">
         <img src="{{ .Page.Params.image | relURL}}.webp" class="{{ .Page.Params.class }}" alt="{{ .Page.Params.alt }}">
         <table class="productStatsTable">
            <tr>
               <td>
                  {{ if .Page.Params.saleOn }}
                  <span class="productPrice">&euro;{{ .Page.Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Page.Params.downFrom }}</span>
                  {{ else }}
                  <span class="productPrice">&euro;{{ .Page.Params.price }}</span>
                  {{ end }}
               </td>
               <td>
                  <p></p>
               </td>
            </tr>
            <tr>
               <td>
                  <p>Download format:</p>
               </td>
               <td>
                  <p>{{ .Page.Params.downloadFormat }}</p>
               </td>
            </tr>
            <tr>
               <td>
                  <p>File format:</p>
               </td>
               <td>
                  <p>{{ .Page.Params.fileFormat }}</p>
               </td>
            </tr>
            <tr>
               <td>
                  <p>File DPI:</p>
               </td>
               <td>
                  <p>{{ .Page.Params.dpi }}</p>
               </td>
            </tr>
            <tr>
               <td>
                  <p>Printing sizes:</p>
               </td>
               <td>
                  <p>4 x 6 up to 24 by 36 inches</p>
               </td>
            </tr>
         </table>
         <!--<img src="{{ "../img/digital-download.png" | relURL }}" class="img-responsive digital-download-image" alt="">-->
      </div>
   </div>
   
</div>
<br><br>
<p>Free printable Boho wall art, just download and get printed and framed. All styles of Boho will be included in this release, Boho chic to Boho minimalist wall art.  If you are looking for home decor printable art prints, we have got you covered with this unique offer.  All our designs are created in ultra-high quality PNG(100 DPI) for excellent printing.</p>

<p>This free wall art printable comes in large size 24 by 36 inches for perfect printing. Why not print large for your kitchen, small for your bathroom, or medium for your living room.  Don't miss our blog post with printing tips and tricks to help you get started. Once you sign up, you also get a bonus 30% off all our designs in our printable wall art store.</p>



<br><br>
<hr class="prod-box-line">
<p class="bold-text center">See our <a href="/free/printable/">FREE PRINTABLES</a> page, updated with new printable every week</p>
<hr class="prod-box-line">
<br><br><br>

  
  <h2>More free printable boho wall art coming soon...</h2>
      <a href="/free/printable/">
      <img src="/img/free/printable/wall art/boho/free printable boho wall art/free printable boho art love pinterest.webp" class="img-responsive">
      </a>
      

  



<br>
{{ partial "signup-benefits.html" . }}

<br>
<div class="shop-prod-row">
  
  {{ partial "signup-form.html" . }}
   <!--<a class="buyNowButton shopping-buttons-color" href="../../shop/" >SHOP NOW</a>-->
</div>
<br>





<h2>Printable wall art pdf</h2>

<p>We also offer our printable wall art as PDF, in ultra-high quality 300 DPI, for perfect clear prints every time. You can print all our home decor designs and minimalist art prints in sizes small to large for any room in your home.</p>

<h2>Free printable abstract wall art</h2>

<p>Do you like free printable abstract wall art? If so then be sure to check back soon as we will be releasing some shortly. The free printable wall art will be single page and set of 3 designs. </p>

<h2>Free printable wall art black and white</h2>

<p>Why not check out our free printable wall art black and white range. As with all our designs, these free printables come in 5 size ratios, you can print 4 by 6 inches up to large poster size 24 by 36 inches. </p>

<h2>Free downloadable art prints</h2>

<p>Why not let us know what type of free downloadable art prints you would like us to upload next!! We will be updating our free printable resources about once a week.</p>

