<div class="row">
   <div class="col-md-12">
      <div id="landingPageImageAndStats">
         <img src="{{ .Page.Params.image | relURL}}.webp" class="{{ .Page.Params.class }}" alt="{{ .Page.Params.alt }}">
         <table class="productStatsTable">
            <tr>
               <td>
                  {{ if .Page.Params.saleOn }}
                  <span class="productPrice">&euro;{{ .Page.Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Page.Params.downFrom }}</span>
                  {{ else }}
                  <span class="productPrice">&euro;{{ .Page.Params.price }}</span>
                  {{ end }}
               </td>
               <td>
                  <p></p>
               </td>
            </tr>
            <tr>
               <td>
                  <p>Download format:</p>
               </td>
               <td>
                  <p>{{ .Page.Params.downloadFormat }}</p>
               </td>
            </tr>
            <tr>
               <td>
                  <p>File format:</p>
               </td>
               <td>
                  <p>{{ .Page.Params.fileFormat }}</p>
               </td>
            </tr>
            <tr>
               <td>
                  <p>File DPI:</p>
               </td>
               <td>
                  <p>{{ .Page.Params.dpi }}</p>
               </td>
            </tr>
            <tr>
               <td>
                  <p>Printing sizes:</p>
               </td>
               <td>
                  <p>4 x 6 up to 24 by 36 inches</p>
               </td>
            </tr>
         </table>
         <!--<img src="{{ "../img/digital-download.png" | relURL }}" class="img-responsive digital-download-image" alt="">-->
      </div>
   </div>
   
</div>
<br><br>
<p>With this printable eucalyptus wall art free download package, you get one of our most popular designs for free. The design is a set of 3, eucalyptus, high quality JPEG high DPI for perfect prints. The design also comes as a printable wall art PDF (300 DPI) free download. The files are 24 by 36 inches in size, you can print it small or large poster size.</p>

{{ partial "signup-benefits.html" . }}

<br><br>

<div class="shop-prod-row">
  
  {{ partial "signup-form.html" . }}
   <!--<a class="buyNowButton shopping-buttons-color" href="../../shop/" >SHOP NOW</a>-->
</div>
<br>

<h2>Free printable boho wall art</h2>

<p>Be sure to check back soon as we will be giving away more free printable Boho art. Why not let us know what sort of printable Boho wall art you would like to see in our shop!!. Be sure to tell your friends about our downloadable free printable Boho wall art coming soon, and you will get a shop discount.</p>

<h2>Free printable abstract wall art</h2>

<p>We will be expanding our store shortly to include printable abstract art. We will also be giving away some free printable black and white abstract art. Why not tell us what sort of printable abstract wall art you prefer, and we may even give you a free design!!.</p>

<h2>Free printable wall decor</h2>

<p>No matter what sort of free printable wall art you like, we have got you covered. Why not decorate your living room, with our upcoming range of free printable wall art PDF designs (coming shortly). So, whether you are looking for free printable kitchen wall decor, or free printable bathroom art, please get in touch.
</p>

