
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h1>PRINTABLE WALL ART & PRINTABLE PLANNERS</h1>
            </div>

            
            <p class="lead">
                <span class="bold-text">MDP Graphics</span> is a Dublin based printable wall art and printable planners online shop. We offer a unique collection of stylish downloadable prints, and usefull organizational planners.</p>

                <div class="heading text-center">
                    <h2>PRINTABLE WALL ART</h2>
                </div>

                
                <p class="lead">Our printable wall art comes in high quality PNG, JPEG, or PDF with high DPI for clear excellent quality printing. You can print our designs in any ratio, small (4 by 6 inches) up to large poster size (24 by 36 inches). We also offer free download printable wall art, printing tips, discounts and much more.  Most of our digital prints come as a set of 3, perfect for your living room or any room in your home. You can choose from modern, boho, botanical, set of 3, watercolor, quotes, or black and white.</p>
                
            </p>

            <div class="heading text-center">
                    <h2>PRINTABLE PLANNERS</h2>
                </div>

            
                <p class="lead">Our printable planners come as PDF, and in sizes A4, A5, and Letter, and can be used for 2021 or 2022.  Just download and print on your home printer, then organize your days and achieve your goals. Be sure to check back soon as we will be adding printable planners for ADHD, for college students, and for school work.</p>
</p>




            <!-- *** BLOG HOMEPAGE *** -->

           

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->

