

{{ if eq .RelPermalink "/free/printable/" }}
<a href="/free/printable/wall-art/" class="btn btn-template-main bottom-margin">Wall Art</a>


{{ else if eq .RelPermalink "/free/printable/wall-art/" }}
<a href="/free/printable/wall-art/" class="btn btn-template-main bottom-margin active bottom-margin">All</a>
<a href="/free/printable/wall-art/boho/" class="btn btn-template-main bottom-margin bottom-margin">Boho</a>
<a href="/free/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin bottom-margin">Botanical</a>


{{ else if eq .RelPermalink "/free/printable/wall-art/boho/" }}
<a href="/free/printable/wall-art/" class="btn btn-template-main bottom-margin">All</a>
<a href="/free/printable/wall-art/boho/" class="btn btn-template-main bottom-margin active">Boho</a>
<a href="/free/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin">Botanical</a>



{{ else if eq .RelPermalink "/free/printable/wall-art/botanical/" }}
<a href="/free/printable/wall-art/" class="btn btn-template-main bottom-margin">All</a>
<a href="/free/printable/wall-art/boho/" class="btn btn-template-main bottom-margin">Boho</a>
<a href="/free/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin active">Botanical</a>


{{ else }}
<a href="/free/printable/wall-art/" class="btn btn-template-main bottom-margin">All</a>
<a href="/free/printable/wall-art/boho/" class="btn btn-template-main bottom-margin">Boho</a>
<a href="/free/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin">Botanical</a>

{{ end }}
