<div class="row">
   <div class="col-md-12">

      <p>Please see the following FAQ about this product.</p>
      
      <h2>How do I download my order?</h2>
      <p>You will be able to download the files once payment is confirmed.</p> 

      <p>SEE BLOG POST ABOUT THIS</p>

      <h2>How do I access my order once I log out?</h2>
      <p>You will get an email with your order details once you make a purchase, just click on the link in the email.</p> 

      <p>SEE BLOG POST ABOUT THIS</p>

      <h2>What size can I print the files I will recieve?</h2>
      <p>All our designs come in different print ratios which allows you to print from as small as 4  by 6 inches all the way up to 24 by 36 inches.</p>

      <p>SEE BLOG POST ABOUT THIS</p>

      <h2>Will big prints be of good quality?</h2>
      <p>Yes, the biggest print (24 by 36 inches) is high DPI for printing like the small files also.</p>

      <p>SEE BLOG POST ABOUT THIS</p>

      <h2>Where can I get the files printed and framed?</h2>
      <p>You can print them yourself, or send them to any printing company, where you can order them printed on canvas or framed.</p>

      <p>SEE BLOG POST ABOUT THIS</p>

      <h2>What else can I use the images for?</h2>
      <p>The files can be used in any craft projects also.</p>

      <p>SEE BLOG POST ABOUT THIS</p>
   </div>
</div>