   <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-1.webp" class="openMainImage img-responsive" alt="">
<!-- Img on which you want to trigger carousel -->
<div class="carousel-row">
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-1.webp" class="img-responsive hover-shadow">
   </div>
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-2.webp" class="img-responsive hover-shadow">
   </div>
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-3.webp" class="img-responsive hover-shadow">
   </div>
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-4.webp" class="img-responsive hover-shadow">
   </div>
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-5.webp" class="img-responsive hover-shadow">
   </div>
</div>
<div class="carousel-row">
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-6.webp" class="img-responsive hover-shadow">
   </div>
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-7.webp" class="img-responsive hover-shadow">
   </div>
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-8.webp" class="img-responsive hover-shadow">
   </div>
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-9.webp" class="img-responsive hover-shadow">
   </div>
   <div class="carousel-row--img">
      <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-10.webp" class="img-responsive hover-shadow">
   </div>
</div>
<!-- The Modal/Lightbox -->
<div id="myModal" class="modal no-select">
   <span class="close cursor">&times;</span>
   <!-- Next/previous controls -->
   <a class="prev no-select">&#10094;</a>
   <a class="nextPage no-select">&#10095;</a>
   <div class="modal-content">
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-1.webp">
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-2.webp">
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-3.webp">
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-4.webp">
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-5.webp">
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-6.webp">
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-7.webp">
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-8.webp">
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-9.webp">
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <img src="../../img/{{ .Params.title }}/{{ .Params.title }}-10.webp">
      </div>
      <!-- Caption text -->
      <div class="caption-container">
         <p id="caption"></p>
      </div>
      <!-- Thumbnail image controls -->
      <div class="column-box">
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-1.webp" alt="MDP Graphics" />
         </div>
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-2.webp" alt="MDP Graphics" />
         </div>
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-3.webp" alt="MDP Graphics" />
         </div>
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-4.webp" alt="MDP Graphics" />
         </div>
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-5.webp" alt="MDP Graphics" />
         </div>
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-6.webp" alt="MDP Graphics" />
         </div>
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-7.webp" alt="MDP Graphics" />
         </div>
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-8.webp" alt="MDP Graphics" />
         </div>
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-9.webp" alt="MDP Graphics" />
         </div>
         <div class="column">
            <img class="demo" src="../../img/{{ .Params.title }}/{{ .Params.title }}-10.webp" alt="MDP Graphics" />
         </div>
      </div>
   </div>
</div>