<table class="reviewsStarsAmount">
   <tr>
      <td>
         <a href="#{{ .Site.Params.testimonials.title }}">
                                     <img src="{{ "img/testimonials/rating-5-star-transparent.png" | relURL }}" class="img-responsive" alt="">
                                  </a>
      </td>
    
   </tr>
</table>
{{ .Params.description}}
<table class="productStatsTable  ">
                              <tr>
                                 <td>
                                    {{ if .Params.saleOn }}
                                    <span class="productPrice">&euro;{{ .Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Params.downFrom }}</span>
                                    {{ else }}
                                    <span class="productPrice">&euro;{{ .Params.price }}</span>
                                    {{ end }}
                                 </td>
                                 <td>
                                    <p></p>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <p>File format:</p>
                                 </td>
                                 <td>
                                    <p>{{ .Params.fileFormat }}</p>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <p>File DPI:</p>
                                 </td>
                                 <td>
                                    <p>{{ .Params.dpi }}</p>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <p>Printing sizes:</p>
                                 </td>
                                 <td>
                                    <p>{{ .Params.printingSizes }}</p>
                                 </td>
                              </tr>
                           </table>

                           <img src="{{ "img/digital-download.png" | relURL }}" class="img-responsive digital-download-image" alt="">

<!-- Start of snipcart button code -->
                     <a title="Add To Cart" href="#" class="snipcart-add-item" 
                     data-item-id="{{ .Params.title }}"
                     data-item-file-guid="{{ .Params.fileGuid }}" 
                     data-item-name="{{ .Params.title }}" 
                     data-item-image="src='../{{ .Params.image }}.webp'"
                     data-item-price="{{ .Params.price }}" 
                     data-item-url="{{ .Permalink }}" 
                      data-item-custom1-name="Please confirm you understand this is a digital item and you will not receive anything in the post." data-item-custom1-required="true" 
                     data-item-custom2-name="Message to Shauna Gra" data-item-custom2-type="textarea">

                     <span class="buyNowButton shopping-buttons-color">ADD TO CART</span>
                     </a>
                     <!-- End of snipcart button code -->

