{{ $pageurl := .Permalink }}
      <p class="bold-text center">Share on:</p>

      <a href="http://www.facebook.com/share.php?u={{ $pageurl }}" class="btn btn-template-main"> <img src="/img/facebook.webp" class="share-buttons"></a>
      <br>
      <a href="http://twitter.com/intent/tweet?text={{.Title}}&url={{ $pageurl }}" class="btn btn-template-main"> <img src="/img/twitter.webp" class="share-buttons"></a>
      <br>
      <span class ="btn btn-template-main"> <a data-pin-do="buttonBookmark" data-pin-count="beside" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/?url=&media=&description="></a></span>