{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.defaultDescription }}",
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "license": "{{ .Site.Params.Copyright }}"
}
</script>


{{ else if eq .Page.Params.pageType "product"}}
<script type='application/ld+json'> 
{
  "@context": "https://www.schema.org",
  "@type": "product",
  "brand": "{{ .Site.Title }}",
  "logo": "{{ .Site.Params.Logo | absURL }}.webp",
  "name": "{{ .Params.Title }}",
  "category": "{{ .Params.products }}",
  "image": "{{ .Params.image | absURL }}.webp",
  "description": "{{ .Params.description }}",
  "aggregateRating": {
    "@type": "aggregateRating",
    "ratingValue": "5",
    "reviewCount": "129"
  }
}
 </script>


  {{ else if eq .Page.Params.pageType "post"}}

<script type="application/ld+json">
{ "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "headline": "{{ .Site.Title }}",
 "image": "{{ .Params.banner | absURL }}",
 "editor": "MDP Graphics", 
 "genre": "search engine optimization", 
 "keywords": "seo sales b2b", 
 "wordcount": "1120",
 "publisher": "Book Publisher Inc",
 "url": "http://www.example.com",
 "datePublished": "2015-09-20",
 "dateCreated": "2015-09-20",
 "dateModified": "2015-09-20",
 "description": "We love to do stuff to help people and stuff",
 "articleBody": "You can paste your entire post in here, and yes it can get really really long.",
   "author": {
    "@type": "Person",
    "name": "Steve"
  }
 }
</script>


{{ end }}
