<div class="row">
   <div class="col-md-12">

     
      <h2>What will be on my order invoice</h2>
      <p>Our parent company (Shauna Gra) will be on your payment receipt, and confirmation emails.</p>

      <h2>How do I download my order?</h2>
      <p>You will be able to download the files once payment is confirmed. Just click on the link in your email.</p> 



      <h2>How do I access my order once I log out?</h2>
      <p>You will get an email with your order details once you make a purchase, just click on the link in the email.</p> 

 

      <h2>What size can I print the files I will receive?</h2>
      <p>All our printable planners come in sizes A4, A5, and letter, printer friendly for printing at home or in the office.</p>



      <h2>How do I use my new printable planner, once it is printed?</h2>
      <p>Just fill in your time schedule for the day, add notes of things you must not forget, then get all your tasks done.</p>


      <h2>Are there other planners available?</h2>
      <p>We are constantly adding new products to our store, please check back shortly, or sign up to our email list.</p>



    


   </div>
</div>