{{ if eq .RelPermalink "/printable/" }}
<a href="/printable/wall-art/" class="btn btn-template-main bottom-margin">Printable Wall Art</a>
<a href="/printable/planners/" class="btn btn-template-main bottom-margin">Printable Planners</a>

{{ else if eq .RelPermalink "/printable/wall-art/" }}
<a href="/printable/wall-art/" class="btn btn-template-main bottom-margin active bottom-margin">All Printable Wall Art</a>
<a href="/printable/wall-art/boho/" class="btn btn-template-main bottom-margin bottom-margin">Boho</a>
<a href="/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin bottom-margin">Botanical</a>
<a href="/printable/wall-art/modern/" class="btn btn-template-main bottom-margin">Modern</a>
<a href="/printable/wall-art/nursery/" class="btn btn-template-main bottom-margin bottom-margin">Nursery</a>
<a href="/printable/wall-art/watercolor/" class="btn btn-template-main bottom-margin bottom-margin">Watercolor</a>



{{ else if eq .RelPermalink "/printable/wall-art/boho/" }}
<a href="/printable/wall-art/" class="btn btn-template-main bottom-margin">All Printable Wall Art</a>
<a href="/printable/wall-art/boho/" class="btn btn-template-main bottom-margin active">Boho</a>
<a href="/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin">Botanical</a>
<a href="/printable/wall-art/modern/" class="btn btn-template-main bottom-margin">Modern</a>
<a href="/printable/wall-art/nursery/" class="btn btn-template-main bottom-margin bottom-margin">Nursery</a>
<a href="/printable/wall-art/watercolor/" class="btn btn-template-main bottom-margin">Watercolor</a>


{{ else if eq .RelPermalink "/printable/wall-art/botanical/" }}
<a href="/printable/wall-art/" class="btn btn-template-main bottom-margin">All Printable Wall Art</a>
<a href="/printable/wall-art/boho/" class="btn btn-template-main bottom-margin">Boho</a>
<a href="/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin active">Botanical</a>
<a href="/printable/wall-art/modern/" class="btn btn-template-main bottom-margin">Modern</a>
<a href="/printable/wall-art/nursery/" class="btn btn-template-main bottom-margin bottom-margin">Nursery</a>
<a href="/printable/wall-art/watercolor/" class="btn btn-template-main bottom-margin">Watercolor</a>


{{ else if eq .RelPermalink "/printable/wall-art/modern/" }}
<a href="/printable/wall-art/" class="btn btn-template-main bottom-margin">All Printable Wall Art</a>
<a href="/printable/wall-art/boho/" class="btn btn-template-main bottom-margin">Boho</a>
<a href="/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin">Botanical</a>
<a href="/printable/wall-art/modern/" class="btn btn-template-main bottom-margin active">Modern</a>
<a href="/printable/wall-art/nursery/" class="btn btn-template-main bottom-margin bottom-margin">Nursery</a>
<a href="/printable/wall-art/watercolor/" class="btn btn-template-main bottom-margin">Watercolor</a>

{{ else if eq .RelPermalink "/printable/wall-art/nursery/" }}
<a href="/printable/wall-art/" class="btn btn-template-main bottom-margin">All Printable Wall Art</a>
<a href="/printable/wall-art/boho/" class="btn btn-template-main bottom-margin">Boho</a>
<a href="/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin">Botanical</a>
<a href="/printable/wall-art/modern/" class="btn btn-template-main bottom-margin">Modern</a>
<a href="/printable/wall-art/nursery/" class="btn btn-template-main bottom-margin bottom-margin active">Nursery</a>
<a href="/printable/wall-art/watercolor/" class="btn btn-template-main bottom-margin">Watercolor</a>


{{ else if eq .RelPermalink "/printable/wall-art/watercolor/" }}
<a href="/printable/wall-art/" class="btn btn-template-main bottom-margin">All Printable Wall Art</a>
<a href="/printable/wall-art/boho/" class="btn btn-template-main bottom-margin">Boho</a>
<a href="/printable/wall-art/botanical/" class="btn btn-template-main bottom-margin">Botanical</a>
<a href="/printable/wall-art/modern/" class="btn btn-template-main bottom-margin">Modern</a>
<a href="/printable/wall-art/nursery/" class="btn btn-template-main bottom-margin bottom-margin">Nursery</a>
<a href="/printable/wall-art/watercolor/" class="btn btn-template-main bottom-margin active">Watercolor</a>

{{ else if eq .RelPermalink "/printable/planners/" }}
<a href="/printable/planners/" class="btn btn-template-main bottom-margin active">All Printable Planners</a>
<a href="/printable/planners/daily/" class="btn btn-template-main bottom-margin">Daily</a>

{{ else if eq .RelPermalink "/printable/planners/daily/" }}
<a href="/printable/planners/" class="btn btn-template-main bottom-margin">All Printable Planners</a>
<a href="/printable/planners/daily/" class="btn btn-template-main bottom-margin active">Daily</a>



{{ end }}
