<p>{{ .Page.Params.description }}</p>
<img src="../{{ .Page.Params.image }}.webp" class="{{ .Page.Params.class }}" alt="{{ .Page.Params.alt }}">
<table class="productStatsTable  ">
   <tr>
      <td>
         {{ if .Page.Params.saleOn }}
         <span class="productPrice">&euro;{{ .Page.Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Page.Params.downFrom }}</span>
         {{ else }}
         <span class="productPrice">&euro;{{ .Page.Params.price }}</span>
         {{ end }}
      </td>
      <td>
         <p></p>
      </td>
   </tr>
   <tr>
      <td>
         <p>File format:</p>
      </td>
      <td>
         <p>{{ .Page.Params.fileFormat }}</p>
      </td>
   </tr>
   <tr>
      <td>
         <p>File DPI:</p>
      </td>
      <td>
         <p>{{ .Page.Params.dpi }}</p>
      </td>
   </tr>
   <tr>
      <td>
         <p>Printing sizes:</p>
      </td>
      <td>
         <p></p>
      </td>
   </tr>
   <tr>
      <td>
         <p>24 x 36 inch for printing:</p>
      </td>
      <td>
         <p>4 x 6, 6 x 9, 8 x 12, 10 x 15, 12 x 18, 16 x 24, 20 x 30, 24 x 36</p>
      </td>
   </tr>
   <tr>
      <td colspan="2">
         <a href="../../download86486987/Digital download art prints eucalyptus set of 3-24-by-36.zip" download><button class="btn btn-template-main">Download Now</button></a>
      </td>
   </tr>
   <tr>
      <td>
         <p>A1 for printing:</p>
      </td>
      <td>
         <p>A1</p>
      </td>
   </tr>
   <tr>
      <td colspan="2">
         <a href="../../download86486987/Digital download art prints eucalyptus set of 3-A1.zip" download><button class="btn btn-template-main">Download Now</button></a>
      </td>
   </tr>
   <tr>
      <td>
         <p>18 x 24 inch for printing:</p>
      </td>
      <td>
         <p>6 x 8, 9 x 12, 12 x 16, 15 x 20, 18 x 24</p>
      </td>
   </tr>
   <tr>
      <td colspan="2">
         <a href="../../download86486987/Digital download art prints eucalyptus set of 3-18-by-24.zip" download><button class="btn btn-template-main">Download Now</button></a>
      </td>
   </tr>
   <tr>
      <td>
         <p>16 x 20 inch for printing:</p>
      </td>
      <td>
         <p>4 x 5, 8 x 10, 12 x 15, 16 x 20</p>
      </td>
   </tr>
   <tr>
      <td colspan="2">
         <a href="../../download86486987/Digital download art prints eucalyptus set of 3-16-by-20.zip" download><button class="btn btn-template-main">Download Now</button></a>
      </td>
   </tr>
   <tr>
      <td>
         <p>11 x 14 inch for printing:</p>
      </td>
      <td>
         <p>11 x 14</p>
      </td>
   </tr>
   <tr>
      <td colspan="2">
         <a href="../../download86486987/Digital download art prints eucalyptus set of 3-11-by-14.zip" download><button class="btn btn-template-main">Download Now</button></a>
      </td>
   </tr>

    <tr>
      <td>
         <p>Getting started guide:</p>
      </td>
      <td>
         
      </td>
   </tr>
   <tr>
      <td colspan="2">
         <a href="../../download86486987/Digital download art prints eucalyptus set of 3-11-by-14.zip" download><button class="btn btn-template-main">Download Now</button></a>
      </td>
   </tr>
</table>
<br><br><br>

<p>Here is your 30% in store discount code</p>
<p>30OFFSIGNUP</p>
<p>Why not use your code now?</p>

<a class="buyNowButton shopping-buttons-color" href="../../shop/" >SHOP NOW</a>