<p>{{ .Page.Params.description }}</p>

<div class="shop-prod-row">
   <div id="landingPageImageAndStats">
   <img src="{{ .Page.Params.image | relURL }}.webp" class="{{ .Page.Params.class }}" alt="{{ .Page.Params.alt }}">
   <table class="productStatsTable">
   <tr>
      <td>
         {{ if .Page.Params.saleOn }}
         <span class="productPrice">&euro;{{ .Page.Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Page.Params.downFrom }}</span>
         {{ else }}
         <span class="productPrice">&euro;{{ .Page.Params.price }}</span>
         {{ end }}
      </td>
      <td>
         <p></p>
      </td>
   </tr>
   <tr>
      <td>
         <p>Download format:</p>
      </td>
      <td>
         <p>{{ .Page.Params.downloadFormat }}</p>
      </td>
   </tr>
   <tr>
      <td>
         <p>File format:</p>
      </td>
      <td>
         <p>{{ .Page.Params.fileFormat }}</p>
      </td>
   </tr>
   <tr>
      <td>
         <p>File DPI:</p>
      </td>
      <td>
         <p>{{ .Page.Params.dpi }}</p>
      </td>
   </tr>
   <tr>
      <td>
         <p>Printing sizes:</p>
      </td>
      <td>
         <p>4 x 6 up to 24 by 36 inches</p>
      </td>
   </tr>
   <tr>
      <td>
         <p>Getting started guide:</p>
      </td>
      <td>
         <p>PDF document</p>
      </td>
   </tr>
</table>




<img src="{{ "/img/digital-download.png" | relURL }}" class="img-responsive digital-download-image" alt="">


</div>


         <a href="{{ "/download86486987/MDP Graphics printable wall art free download.zip" | relURL }}" download><button class="buyNowButton shopping-buttons-color">Download Now</button></a>
</div>


     
<br>

<h3>Don't forget to use your 30% discount in our Website or Etsy stores!!</h3>

<img src="{{ "/img/30off.png" | relURL }}">

<a class="buyNowButton shopping-buttons-color" href="https://www.etsy.com/ie/shop/MdpGraphics" target="_blank">SHOP ETSY NOW</a>
<a class="buyNowButton shopping-buttons-color" href="{{ "/shop/" | relURL }}" target="_blank">SHOP WEBSITE NOW</a>

<h3>Some of our in store designs...</h3>

<img src="{{ "/img/products/Boho wall art printable set of 3 download/Boho wall art printable set of 3 download-1.webp" | relURL }}" class="img-responsive speical-offer-large-image" alt="Boho wall art printable set of 3 download">

<img src="{{ "/img/products/Downloadable botanical prints eucalyptus wall art set of 3/Downloadable botanical prints eucalyptus wall art set of 3-1.webp" | relURL }}" class="img-responsive speical-offer-large-image" alt="Downloadable botanical prints eucalyptus wall art set of 3">

<img src="{{ "/img/products/Modern printable art prints eucalyptus set of 3 download/Modern printable art prints eucalyptus set of 3 download-2.webp" | relURL }}" class="img-responsive speical-offer-large-image" alt="Modern printable art prints eucalyptus set of 3 download">

<img src="{{ "/img/products/Printable boho art digital download set of 3/Printable boho art digital download set of 3-1.webp" | relURL }}" class="img-responsive speical-offer-large-image" alt="Printable boho art digital download set of 3">

<img src="{{ "/img/products/Printable botanical wall art set green leaves download/Printable botanical wall art set green leaves download-1.webp" | relURL }}" class="img-responsive speical-offer-large-image" alt="Printable botanical wall art set green leaves download">

<img src="{{ "/img/products/Printable modern art eucalyptus set of 3 digital download/Printable modern art eucalyptus set of 3 digital download-5.webp" | relURL }}" class="img-responsive speical-offer-large-image" alt="Printable modern art eucalyptus set of 3 digital download">

<img src="{{ "/img/products/Watercolor art prints teal blue digital download set of 3/Watercolor art prints teal blue digital download set of 3-7.webp" | relURL }}" class="img-responsive speical-offer-large-image" alt="Watercolor art prints teal blue digital download set of 3">

<img src="{{ "/img/products/Watercolor wall decor green eucalyptus printable set of 3/Watercolor wall decor green eucalyptus printable set of 3-1.webp" | relURL }}" class="img-responsive speical-offer-large-image" alt="Watercolor wall decor green eucalyptus printable set of 3">













