<div class="row free-printables-row">
   <div class="col-md-12">
      <div id="landingPageImageAndStats">
   <img src="../{{ .Page.Params.image }}.webp" class="{{ .Page.Params.class }}" alt="{{ .Page.Params.alt }}">
   <table class="productStatsTable">
   <tr>
      <td>
         {{ if .Page.Params.saleOn }}
         <span class="productPrice">&euro;{{ .Page.Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Page.Params.downFrom }}</span>
         {{ else }}
         <span class="productPrice">&euro;{{ .Page.Params.price }}</span>
         {{ end }}
      </td>
      <td>
         <p></p>
      </td>
   </tr>
   <tr>
      <td>
         <p>Download format:</p>
      </td>
      <td>
         <p>{{ .Page.Params.downloadFormat }}</p>
      </td>
   </tr>
   <tr>
      <td>
         <p>File format:</p>
      </td>
      <td>
         <p>{{ .Page.Params.fileFormat }}</p>
      </td>
   </tr>
   <tr>
      <td>
         <p>File DPI:</p>
      </td>
      <td>
         <p>{{ .Page.Params.dpi }}</p>
      </td>
   </tr>
   <tr>
      <td>
         <p>Printing sizes:</p>
      </td>
      <td>
         <p>4 x 6 up to 24 by 36 inches</p>
      </td>
   </tr>
    <tr>
      <td>
         <p>Printing guide:</p>
      </td>
      <td>
         <p>PDF document</p>
      </td>
   </tr>
</table>

<!--<img src="{{ "../img/digital-download.png" | relURL }}" class="img-responsive digital-download-image" alt="">-->
</div>
   </div>
   
</div>


<h2 class="bold-text">Benifits of becoming a member of MDP Graphics</h2>

<p class="bold-text redText">Free 3 page design</p>
<p class="bold-text redText">30% Etsy store discount</p>
<p class="bold-text redText">30% Website store discount</p>
<p class="bold-text redText">Access to all our free resources</p>
<p class="bold-text redText">Special offers</p>





<!--<p>{{ .Page.Params.description }}</p>-->


<div class="shop-prod-row">
   <h2>Free printable wall art set of 3 (preview)</h2>

<p>With this free downloadable art prints package, you get one of our most popular designs, free. The design is a 3-page eucalyptus downloadable wall art. The colors are striking on this wall art, the smooth green leaves complement the design. The left and right images are opposing, which draws the eye to the middle image. We have started releasing some of our digital download art prints for free, so please check back shortly for more. Our next release will be of downloadable free printable Boho wall art.</p>

<hr class="prod-box-line">


      <img src="../../img/printable wall art free download/printable wall art free download-1.webp" class="img-responsive speical-offer-large-image" alt="Printable wall art free download">

      <img src="../../img/printable wall art free download/printable wall art free download-2.webp" class="img-responsive speical-offer-large-image" alt="Printable wall art free download">

      <img src="../../img/printable wall art free download/printable wall art free download-3.webp" class="img-responsive speical-offer-large-image" alt="Printable wall art free download">

      <img src="../../img/printable wall art free download/printable wall art free download-4.webp" class="img-responsive speical-offer-large-image" alt="Printable wall art free download">
 



<hr class="prod-box-line">


{{ partial "signup-form.html" . }}
</div>
<br>



