
   


<div class="row">
   <div class="col-md-6">
     <div id="landingPageImageAndStats">
   <img src="../../img/printable wall art free download/printable wall art free download.webp" class="img-responsive" alt="free printable wall art">
   </div>
   </div>

   <div class="col-md-6">
     <div id="landingPageImageAndStats">
   <img src="../../img/free printable botanical wall art/Free printable botanical wall art.webp" class="img-responsive" alt="free printable botanical wall art">
   </div>
   </div>
  
</div>

<div class="text-center">
   <h2 class="bold-text">Benefits of becoming a member of MDP Graphics</h2>


<p class="bold-text redText">30% Etsy store discount</p>
<p class="bold-text redText">30% Website store discount</p>
<p class="bold-text redText">Access to all our free resources</p>
<p class="bold-text redText">Special offers</p>

</div>

<!--<img src="{{ "../img/digital-download.png" | relURL }}" class="img-responsive digital-download-image" alt="">-->

<div class="shop-prod-row">
   {{ partial "signup-form.html" . }}
</div>





